//COLLOR PALLETE
$color1: lighten(#00D474, 10%);
$color2: black ;
$color3: white;
$color4: #2C677A;
$color5: #16333D;



//BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:950px;
$breakpoint-mini-laptop:750px;
$breakpoint-tablet:560px;
$breakpoint-mobile:400px;