form {
  display: flex;
}

input[type="text"] {
  border: none;

  flex: 10;
  padding: 10px;
  padding-left: 1em;
  outline: 0;
  margin-top: 1em;
}

// input[type="submit"] {
//   flex: 2;
//   background: #41b883;
//   color: #fff;
//   border: 1px solid #41b883;
//   cursor: pointer;
// }

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0.5em 0;
  cursor: pointer;
  font-size: 1.4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0.3vw;
  left: 0;
  height: 8px;
  width: 8px;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid rgb(20, 167, 57);
  transition: 1s;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #00ff00;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #00ff00;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  //   top: 4px;
  //   left: 4px;
  //   width: 8px;
  //   height: 8px;
  //   border-radius: 50%;
  //   background: white;
}
